#com-atlassian-confluence #footer {
	position: static;
}
#poweredby {
	padding: 4px 12px 4px 0px !important;
}
#poweredby p {
	margin: 0px; text-align: center; color: rgb(102, 102, 102); font-family: verdana,arial,helvetica,sans-serif; font-size: 11px;
}
#poweredby {
	background-image: none !important;
}
#studio-footer #poweredby a {
	color: rgb(102, 102, 102); text-decoration: underline;
}
body.contenteditor #studio-footer {
	display: none;
}
.footer {
	padding: 0px; background-color: transparent !important;
}
.footer p {
	font-family: verdana,arial,helvetica,sans-serif; font-size: 11px;
}
.footer a {
	font-family: verdana,arial,helvetica,sans-serif; font-size: 11px;
}
#studioVersion {
	display: none;
}
#com-atlassian-confluence #footer #poweredby .print-only {
	display: none;
}
#studio-footer {
	border: 0px currentColor;
}
