<style>
<!--
a:active {color: BLUE}
a:hover {color: coral}
a:link {color: indigo}

.subclass{
	font-family: Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: white;
}
a.subclass{
	color: white;
	text-decoration:underline;
}
a.subclass:active {color: white}
a.subclass:hover {color: yellow}
a.subclass:link {color: white}
a.subclass:visited{color: WHITE}

.submenuclass{}
a.submenuclass{
	color: #006699;
	text-decoration:underline;
}
a.submenuclass:active {color:#006699}
a.submenuclass:hover {color: coral}
a.submenuclass:link {color: #006699}
a.submenuclass:visited{color: #006699}

td {
	font-family: "Arial, Helvetica"; 
	font-size: 10pt; 
	font-style: bold; 
	color: #000000;
	border-color: #e1ebf4
    }
.tabclass{}
td.tabclass{background-color: #CCCCCC}

.bodyclass{}
body.bodyclass{background-color: #63319C}

.bodymenuclass{}
body.bodymenuclass{background-color: #e1ebf4}

.menucell{}
td.menucell{background-color: #63319C}

.bannercell{}
td.bannercell{background-color: #62106A}

.tdmenuclass{}
td.tdmenuclass{color: #ffffff;
               background-color: #336699} 

.mainmenuclass{}
td.mainmenuclass{color: #336699;
               background-color: #e1ebf4} 


.bannerbody{}
body.bannerbody{background-color: #62106A}
td.bannerbody{background-color: #62106A}

.displayheader{}
td.displayheader{
	font-family: "Arial"; 
	font-size: 13pt; 
	font-style: bold; 
	color: #336699;
      background-color: #e1ebf4
}

.labelcell{}
td.labelcell{
	font-family: "Trebuchet MS"; 
	font-size: 10pt; 
	font-style: normal; 
	color: #336699;
	background-color: #e1ebf4
}

.blankcell{}
td.blankcell{
	background-color: #FFFFFF
}

.nonapplabel{}
th.nonapplabel{
	font-family: "Arial"; 
	font-size: 10pt; 
	font-style: normal; 
	color: #000000;
	background-color: #F2CF09
}

table {  
	font-family: "Courier New", Courier, mono; 
	font-size: 14pt; 
	font-style: normal; 
	color: #330099
}
th {  
	font-family: Verdana; 
	font-size: 10pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #FFFFFF; 
	background-color: #336699
}
.thclass{}
th.thclass{color: #000000; 
	background-color: #ffffff}

body {  
	color: #6699FF; 
	background-color: #FFFFFF
}
tr {  
	font-family: "Trebuchet MS"; 
	font-size: 10pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #000066
}

p {  
	font-family: "Arial, Helvetica"; 
	font-size: 11pt; 
	font-style: normal; 
	color: #E33C11
}
-->
</style>