<style>
<!--
a:active {color: BLUE}
a:hover {color: coral}
a:link {color: indigo}

.subclass{
	font-family: Verdana;
	font-size: 10pt;
	font-style: normal;
	font-weight: normal;
	color: white;
}
a.subclass{
	color: white;
	text-decoration:underline;
}
a.subclass:active {color: yellow}
a.subclass:hover {color: yellow}
a.subclass:link {color: yellow}
a.subclass:visited{color: WHITE}

td {background-color: #F4F3E8}
.tabclass{}
td.tabclass{background-color: #CCCCCC}

.bodyclass{}
body.bodyclass{background-color: #63319C}

.menucell{}
td.menucell{background-color: #63319C}

.bannercell{}
td.bannercell{background-color: #62106A}

.bannerbody{}
body.bannerbody{background-color: #62106A}
td.bannerbody{background-color: #62106A}

.displayheader{}
td.displayheader{
	font-family: "Tw Cen MT"; 
	font-size: 14pt; 
	font-style: normal; 
	color: #FFFFFF;
	background-color: #b0a986
}

.labelcell{}
td.labelcell{
	font-family: "Verdana"; 
	font-size: 10pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #000000;
	background-color: #f5f5dc
}

.blankcell{}
td.blankcell{
	background-color: #FFFFFF
}

table {  
	font-family: "Courier New", Courier, mono; 
	font-size: 14pt; 
	font-style: normal; 
	color: #330099
}
th {  
	font-family: "Verdana"; 
	font-size: 10pt; 
	font-style: normal; 
	font-weight: bold; 
	color: #000000; 
	background-color: #d9d4aa
}
body {  
	color: #000000; 
	background-color: #FFFFFF
}
tr {  
	font-family: "Trebuchet MS"; 
	font-size: 10pt; 
	font-style: normal; 
	line-height: normal; 
	font-weight: normal; 
	color: #000066
}
p {  
	font-family: "Trebuchet MS"; 
	font-size: 10pt; 
	font-style: normal; 
	color: #000000
}
-->
</style>