<style type="text/css">
a {color:#006699; text-decoration:none}
a:hover {color:#ccc; text-decoration:none}
.hidden {visibility:hidden;}

.highlight {
	height: 60px;
	width: 100%;
	background: #e9e9e9;
	background: -webkit-linear-gradient(#e9e9e9, #c0c0c0);
	background: -moz-linear-gradient(#e9e9e9, #c0c0c0);
	background: -ms-linear-gradient(#e9e9e9, #c0c0c0);
	background: -o-linear-gradient(#e9e9e9, #c0c0c0);
	background: linear-gradient(#e9e9e9, #c0c0c0);
}
</style> 

<style>
#mask {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
}
#boxes .window {
	position:absolute;
	left:0;
	top:0;
	width:980px;
	height:530px;
	display:none;
	z-index:9999;
	padding:20px;
}
#boxes #dialog {
	width:980px;
	height:542px;
	padding:10px;
	background-color:#000;
}

#maskUP {
	position:absolute;
	left:0;
	top:0;
	z-index:9000;
	background-color:#000;
	display:none;
}
#boxesUP .windowUP {
	position:absolute;
	left:0;
	top:0;
	width:980px;
	height:530px;
	display:none;
	z-index:9999;
	padding:20px;
}
#boxesUP #dialogUP {
	width:980px;
	height:542px;
	padding:10px;
	background-color:#000;
}
</style>

<style type="text/css">
.suggestionsBox {
	position: absolute;
	left: 30px;
	top: 200px;
	margin: 0px 0px 0px 0px;
	width: 550px;
	height: 200px;
	overflow:auto;
	background-color: #DCDCDC;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border: 2px solid #CCC;
	color: #000;
}
.suggestionList {
	margin: 0px;
	padding: 0px;
}
.suggestionList li {
	margin: 0px 0px 3px 0px;
	padding: 3px;
}
.suggestionList li:hover {
	background-color: #555757;
	color: #8B0000;
}

.search_img{
	background:#ffffff url(../../Library/images/btn-search.png) no-repeat right;
	text-align:left;
}
</style>

<!-- auto complete ENDS-->
